.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 20px;
}

.cart-container{
    background-color: cyan;
    position: sticky;
    top: 0px;
}

.btn-section button{
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}




@media only screen and (max-width: 600px) {
    .shop{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 10px;
    }
    .cart-container{
        padding: 0 5px;
    }
    
    
}